<DOCTYPE html>
    <html lang='en'>

    <head>
        <title> Your items </title>
        <link href="{{url_for('static', filename='one.css')}}" rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="container">
            <header class='jumbotron'>
                <nav>
                    <ul class='nav nav-pills pull-right'>
                        <li> <a href="/add_bucketlist_item/{{bucketlist_name}}">Add Item</a></li>
                        <li> <a href="{{url_for('view_bucketlist')}}">Bucketlists</a></li>
                        <li> <a href="{{url_for('main')}}"> Log Out </a></li>
                    </ul>
                </nav>
                <h3> Bucket List App </h3>
            </header>
            <h2> {{bucketlist_name}} </h2>
            <div>
                <table class="table table-stripped">
                    <th>Item </th>
                    <th><a href='#' class='btn btn-info btn-sm'><span class="graphicon graphicon-trash"></span>Edit </a></th>
                    <th><a href="#" class='btn btn-info btn-sm'><span class="graphicon graphicon-trash"></span> Delete </a></th>

                    {% for bucket in buckets.all_items %} {% if bucket.bucketlist_name == bucketlist_name %}

                    <tr>
                        <td> {{bucket.bucketlist_item}} </td>
                        <td>
                            <a href="/edit_bucketlist_item/{{bucket.bucketlist_name}}/{{bucket.bucketlist_item}}"> <span class='glyphicon glyphicon-pencil'></span> </a>
                        </td>
                        <td> <a href="/delete_bucketlist_item/{{bucket.bucketlist_name}}/{{bucket.bucketlist_item}}"><span class='glyphicon glyphicon-trash'></span> </a></td>
                    </tr>
                    {% endif %} {% endfor %}
                </table>
            </div>
        </div>
    </body>

    </html>