<DOCTYPE html>
    <html lang='en'>

    <head>
        <title> ATMO </title>
        <link href="{{url_for('static', filename='one.css')}}" rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>

        <script src="/static/scripts/crtree.js"></script>
    </head>

    <body>
        <div class="container">
            <header class='jumbotron'>
                <nav>
                    <ul class='nav nav-pills pull-right'>
                        <li> <a href="{{url_for('edit_bucketlist')}}">Start Scaning</a></li>
                    </ul>
                </nav>
                <h3> ATMO </h3>
            </header>
            <h2> Atmotube List </h2>
            <div id="counter">
                <table class="table table-stripped">
                    <th> Name </th>
                    <th> IMEI </th>
                    <th> Connect </th>

                    {% for bucket in buckets %}
                    <tr>
                        <td> <a href="view_bucketlist_item/{{bucket}}">  {{bucket}}  </a></td>
                        <td>
                            <a href="{{url_for('edit_bucketlist')}}"> <span class='glyphicon glyphicon-pencil'></span> </a>
                        </td>
                        <td> <a href="{{url_for('delete_bucketlist')}}"><span class='glyphicon glyphicon-trash'></span> </a></td>
                    </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </body>

    </html>
