<DOCTYPE html>
    <html lang='en'>

    <head>
        <title> Bucketlist app </title>
        <link href="{{url_for('static', filename='one.css')}}" rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    </head>

    <body>
        <form method="POST" action="{{url_for('edit_bucketlist')}}">
            <div>
                <h4>Rename your bucketlist.</h4>
                <div>
                    <input type="name" name='bucketlistName' class='form-control' placeholder='bucketlist name'> <br>
                    <input type="name" name='newBucketlistName' class='form-control' placeholder='New bucketlist name'> <br>
                    <button type='submit' class='btn btn-primary'>Submit </button>
        </form>
        <div>
            <h3>Your bucketlists</h3>
        </div>
        <div>
            <ul>
                {% for bucket in buckets.bucketlists %}
                <li> {{bucket}} </li>
                {% endfor %}
            </ul>
        </div>
    </body>

    </html>