<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sydney Car Parks</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CPS</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index')}}">Check Car Park Availability</a></li>
              <li><a href="{{ url_for('connect')}}">Connect to Car Park</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class ='active'><a href="{{ url_for('admin')}}">Admin Login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <br></br><br></br><br></br>
      <form method ='POST' class="form-horizontal col-xs-offset-4 col-xs-4 col-lg-offset-5 col-lg-3" action="{{url_for('admin')}}">
        <div class="form-group">
          <label for="username">Username</label><p></p>
          <input name="username" type="text" class="form-control" id="exampleInputName2" placeholder="Enter Admin UserName">
        </div>
        <div class="form-group">
          <label for="Password">Password</label><p></p>
          <input name ="password" type="email" class="form-control" id="exampleInputEmail2" placeholder="Password">
        </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </body>
</html>
